<!DOCTYPE html>
<html>
<head>
  <title>Basket</title>
  <link rel="shortcut icon" href="../assets/images/flavicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Social bookmarking site to easily save and share your favorite links with your friends. Download the chrome extension to get the full functionality." />
  <meta property="og:title" content="Basket" />
  <meta property="og:site_name" content="Basket" />
  <meta property="og:description" content="Social bookmarking site to easily save and share your favorite links with your friends. Download the chrome extension to get the full functionality." />
  <meta property=”og:image” content="../assets/images/basketgreen128.png" /> 
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="Basket" />
  <meta property="twitter:description" content="Social bookmarking site to easily save and share your favorite links with your friends. Download the chrome extension to get the full functionality." />


  <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

  <!-- <link rel="stylesheet" href="/../assets/font-awesome-4.0.3/css/font-awesome.min.css"> -->
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/jcglidocjalkkefbmnobddombekpancl">
</head>

<body ng-app="ngApp">

  <!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Basket</a>
        <div class="nav-collapse">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li>
                <img alt="FB_Pic" src=<%= current_user.image %>>
                <%= current_user.name %>
              </li>
            <% end %>
            <li>
              &#124;
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#" class='download-extension-btn'>
                <%#= image_tag 'chrome2.png', class: "chrome-img" %>
                Extension
              </a>
            </li>
            <li>
              <%= link_to "/auth/facebook", id: "sign_in" do %>
                <i class = "fa fa-facebook-square icon facebook"></i> Login
              <% end %>
            </li>
            <li>
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="main-view-container" ui-view></div>
    </div> <!-- row -->
  </div> <!-- container -->

  <script src="http://connect.facebook.net/en_US/all.js"></script>

</body>
</html>
